.page{
    background-color: rgb(246, 240, 240);
    text-align: center; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    border: 10px solid black;
    border-radius: 15px;    
    padding: 20px;           
    width: 80%;      
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    
    
    
    
    
    
}

.flexd-container {
    display: flex;
    background-color: DodgerBlue;
    border: 2px solid black;
    left: 2px;
    width: 212px;
    padding: 4px;
    gap: 30px;

    position: absolute;
    top: 0; 
    left: 0; 
    margin: 0;
}



.text{
    color: blue;
    text-align: center;
font-size: 50px;
font-weight: bold;


}

.about{
    color: black;
    text-align: center;
    font-size: 25px;

}



.button{
    color: white;
    background-color: rgb(172, 244, 172);
    font-size:30px;
    border: 3px solid black;
    border-radius: 10px;
    
  

}
.click{
    color: black;
    
    font-size: 30px;

    border: 2px solid black;

}





